<div class="background">
  <div class="auth-card">
    <form [formGroup]="fg">
      <div class="form-fields">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-error
            *ngIf="
              fg.get('email').hasError('email') &&
              !fg.get('email').hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="fg.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input type="password" matInput formControlName="oldPassword" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="newPassword" />
        </mat-form-field>
      </div>

      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          (click)="resetPassword()"
          [disabled]="fg.invalid"
        >
          Reset Password
        </button>

        <a routerLink="/auth/login">Login</a>
      </div>
    </form>
  </div>
</div>
